.p-textinput {
  height: 50px;
  width: 180px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
}

.p-textinput:hover {
  outline: thin solid #33a0ff;
}

.textinput {
  margin-top: 2px;
  height: 100%;
  width: 93%;
  padding: 0 5px;
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 1px solid lightgray;
}

.textinput-small {
  height: 40px;
  width: 170px;
  font-size: 0.9em;
}

.textinput-small input {
  font-size: 0.9em;
}

.textinput-large {
  height: 60px;
  width: 190px;
  font-size: 1.1em;
}

.textinput-large input {
  font-size: 1.1em;
}
